html {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: grid;
}

input {
  width: 150px;
  padding: 4px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .4);
}

input:focus {
  border-color: rgba(0, 0, 0, 1);
}

input[type="submit"] {
  margin-top: 8px;
}

input.invalid {
  border: 1px solid red;
}

input.valid {
  border: 1px solid green;
}